---
import IconifyIcon from "@components/ui/icons/iconify-icon.astro";
---

<footer class="my-20">
  <p class="text-center text-sm text-slate-500">
    Copyright © {new Date().getFullYear()} Solsticia Power. All rights reserved.
  </p>
  <p class="text-center text-xs text-slate-500 mt-1">
    Made with ❤️ by <a
      href="https://twitter.com/dv_brito"
      target="_blank"
      rel="noopener"
      class="hover:underline">
      David Brito
    </a> based on <!--
    Can we ask you a favor 🙏
    Please keep this backlink on your website if possible.
    or Purchase a commercial license from https://web3templates.com
  -->
    <a
      href="https://web3templates.com"
      target="_blank"
      rel="noopener"
      class="hover:underline">
      Web3Templates
    </a>
  </p>
  <!-- Github repo -->
  <p class="text-center text-xs text-slate-500">
    <a
      href="https://github.com/davbrito/solsticia-power"
      target="_blank"
      rel="noopener"
      class="hover:underline">
      Source code on Github <IconifyIcon
        size={20}
        color="#000"
        name="bx:bxl-github"
        class="inline-block align-bottom"
      />
    </a>
  </p>
</footer>
